In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
from scipy import stats

### Задача № 1

Провести дисперсионный анализ для определения того, есть ли различия среднего роста среди взрослых футболистов, хоккеистов и штангистов. Даны значения роста в трех группах случайно выбранных спортсменов: Футболисты: 173, 175, 180, 178, 177, 185, 183, 182. Хоккеисты: 177, 179, 180, 188, 177, 172, 171, 184, 180. Штангисты: 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170. Данная промежуточная аттестация оценивается по системе "зачет" / "не зачет". "Зачет" ставится, если Слушатель успешно выполнил задание. "Незачет" ставится, если Слушатель не выполнил задание. Критерии оценивания: 1 - Слушатель провел дисперсионный анализ для определения того, есть ли различия среднего роста среди взрослых футболистов, хоккеистов и штангистов.

##### Решение

In [64]:
a1 = np.array([173, 175, 180, 178, 177, 185, 183, 182])
a2 = np.array([177, 179, 180, 188, 177, 172, 171, 184, 180])
a3 = np.array([172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170])

In [65]:
n1 = 8
n2 = 9
n3 = 11
n = n1 + n2 + n3
k = 3

In [66]:
a1_mean = np.mean(a1)
a1_mean

179.125

In [67]:
a2_mean = np.mean(a2)
a2_mean

178.66666666666666

In [68]:
a3_mean = np.mean(a3)
a3_mean

172.72727272727272

In [69]:
total = np.concatenate([a1, a2, a3])
total

array([173, 175, 180, 178, 177, 185, 183, 182, 177, 179, 180, 188, 177,
       172, 171, 184, 180, 172, 173, 169, 177, 166, 180, 178, 177, 172,
       166, 170])

Формулируем нулевую  Н0: mu1 = mu2 = mu3
и альтернативную гипотезу: сравниваем попарно
Н1,1: mu1 = mu2
Н1,2: mu1 = mu3
Н1,3: mu2 = mu3

In [70]:
alfa = 0.05

In [71]:
a_mean_total = np.mean(total)
a_mean_total

176.46428571428572

Сумма квадратов отклонений от общего среднего

In [72]:
s_total_mean = np.sum((total - a_mean_total)**2)
s_total_mean

830.9642857142854

Сумма квадратов отклонений средних групповых значений от общего среднего

In [73]:
s_f = np.sum((a1_mean - a_mean_total)**2) * 8 + np.sum((a2_mean - a_mean_total)**2) * 9 + np.sum((a3_mean - a_mean_total)**2) * 11
s_f

253.9074675324678

Остаточная сумма квадратов отклонений

In [74]:
s_ost = np.sum((a1 - a1_mean)**2) + np.sum((a2 - a2_mean)**2) + np.sum((a3 - a3_mean)**2)
s_ost

577.0568181818182

Рассчитаем факторную дисперсию и остаточную

In [75]:
d_f = s_f / (k - 1)
d_f

126.9537337662339

In [76]:
d_ost = s_ost / (n - k)
d_ost

23.08227272727273

Наблюдаемый критерий Фишера

In [77]:
F_nab = d_f / d_ost
F_nab

5.500053450812598

In [78]:
f = stats.f_oneway(a1, a2, a3)
f

F_onewayResult(statistic=5.500053450812596, pvalue=0.010482206918698694)

По таблице Фишера найдем значение критерия F, alfa = 0.05
(k-1) = 3 - 1 = 2 - степень свободы числителя
(n-k) = 28 - 3 = 25 - степени свободы знаменателя

Табличное значение F = 3.3852

#### Вывод:
Так как F_nab > F , то Н0 нулевая гипотеза отвергается, различия среднего роста среди взрослых футболистов, хоккеистов и штангистов статистически значимо.